<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UAM | Reset Confirm</title>
  </head>
  <body>
    <h1>Welcome To</h1>
    <h3>User Authentication Manager...</h3>
    <hr />
    <p>
      <span>RESET CONFIRM PAGE --- </span><a href="{% url 'index' %}">Index</a>
    </p>
    <hr />
    <h3>Reset Confirm Here</h3>
    <form method="post">
      {% csrf_token %}
      <table>
        {% if form.error %}
        <tr>
          <td>{{ form.error }}</td>
        </tr>
        {% endif %}
        <tr>
          <td>{{ form.new_password1.label_tag }}</td>
          <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
          <td>{{ form.new_password2.label_tag }}</td>
          <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
          <td><input type="submit" value="Set Password" /></td>
          <td><input type="hidden" name="next" value="{{ next }}" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>
