<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UAM | Index</title>
  </head>
  <body>
    <h1>Welcome To</h1>
    <h3>User Authentication Manager...</h3>
    <hr />
    <p>
      <span>INDEX PAGE --- </span><a href="{% url 'users:login' %}">Login</a>
      <span> -- </span><a href="{% url 'users:register' %}">Register</a>
      <span> -- </span><a href="{% url 'users:register-activate' %}">Register Activate</a>
      <span> -- </span><a href="{% url 'contact' %}">Contact</a>
    </p>
    <hr />
  </body>
</html>
