<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UAM | Password Reset</title>
  </head>
  <body>
    <h1>Welcome To</h1>
    <h3>User Authentication Manager...</h3>
    <hr />
    <p>
      <span>PASSWORD RESET PAGE --- </span
      ><a href="{% url 'index' %}">Index</a> <span> -- </span
      ><a href="{% url 'users:login' %}">Login</a> <span> -- </span
      ><a href="{% url 'users:register' %}">Register</a>
    </p>
    <hr />
    <h3>Password Reset Here</h3>
    <form method="post" action="{% url 'users:password-reset' %}">
      {% csrf_token %}
      <table>
        {% if form.error %}
        <tr>
          <td>{{ form.error }}</td>
        </tr>
        {% endif %}
        <tr>
          <td>{{ form.email.label_tag }}</td>
          <td>{{ form.email }}</td>
        </tr>
        <tr>
          <td><input type="submit" value="Reset" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>
