<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UAM | Password Change</title>
  </head>
  <body>
    <h1>Welcome To</h1>
    <h3>User Authentication Manager...</h3>
    <hr />
    <p>
      <span>PASSWORD CHANGE PAGE --- </span
      ><a href="{% url 'users:home' %}">Home</a> {% comment %} <span> -- </span
      ><a href="{% url 'users:profile' %}">Profile</a> {% endcomment %}
      <span> -- </span><a href="{% url 'users:logout' %}">LogOut</a>
    </p>
    <hr />
    <h3>Password Change Here</h3>
    <form method="post" action="{% url 'users:password-change' %}">
      {% csrf_token %}
      <table>
        {% if form.error %}
        <tr>
          <td>{{ form.error }}</td>
        </tr>
        {% endif %}
        <tr>
          <td>{{ form.old_password.label_tag }}</td>
          <td>{{ form.old_password }}</td>
        </tr>
        <tr>
          <td>{{ form.new_password1.label_tag }}</td>
          <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
          <td>{{ form.new_password2.label_tag }}</td>
          <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
          <td><input type="submit" value="New Password" /></td>
          <td><input type="hidden" name="next" value="{{ next }}" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>
